.pnf__wrapper .pnf__body {
  max-width: 415px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 10px;
}

@media screen and (max-width: 768px) {
  .pnf__wrapper .pnf__body {
    max-width: 470px;
  }
}

.pnf__wrapper .pnf__body h2 {
  font-size: 50px;
  color: #00687d;
  margin-bottom: 25px;
}

.pnf__wrapper .pnf__body .pnf__btn {
  background-color: #0d7ea2;
  color: #ffffff;
  padding: 14px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 30px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  min-width: 160px;
}

.pnf__wrapper .pnf__body .pnf__btn:after {
  line-height: 1.0;
  font-weight: normal;
  text-transform: none;
  speak: none;
  font-variant: normal;
  content: "\F054";
  font-family: "icomoon";
  font-size: 0.75rem;
  padding-left: 1rem;
}

.pnf__wrapper .pnf__body .pnf__btn:hover {
  background-color: #07648d;
}

.pnf__wrapper .pnf__body p {
  color: #1b1b1b;
  line-height: 1.5;
  text-decoration: none;
}
