.pnf__wrapper .pnf__body {
  max-width: 415px;
  margin: 0 auto;
  padding: 80px 10px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .pnf__wrapper .pnf__body {
    max-width: 470px;
  }
}
