.tour-page {
  color: #222330;
}
.tour-page .section-hero .row {
  display: flex;
}
.tour-page .section-hero {
  background: #d7ebf5;
  padding: 30px 18px 50px 50px;
}
.tour-page .section-hero h2,
.tour-page .section-hero .button-section p {
  opacity: 0.7;
}
.tour-page .section-hero .button--primary {
  background-color: #003cc5;
}
.tour-page .section-hero .text-section {
  width: 75%;
  opacity: 0.7;
  margin-right: 5%;
}
.tour-page .section-content {
  display: flex;
  margin-top: 60px;
  opacity: 0.7;
}
.tour-page .section-content .sidenav {
  width: 44%;
  margin-right: 6%;
}
.tour-page .sidenav ul {
  margin-left: 0;
}
.tour-page .sidenav p {
  font-weight: 500;
  font-size: 16px;
}
.tour-page .sidenav ul li {
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #aba8a8;
}
.tour-page .sidenav ul li a {
  text-decoration: none;
  color: #222330;
  font-weight: 500;
  font-size: 16px;
}
.tour-page .section-content .content-start h2 {
  margin-top: 0;
}
.tour-page .section-content .content-leaf {
  margin-top: 60px;
}
.tour-page .content-main h2 > a {
  color: #222330;
}
.tour-page .section-hero .button-section {
  text-align: center;
}
.tour-content-header {
  overflow: hidden;
  padding: 1.5rem 0 0;
  background: #f5f3f3;
}
.tour-content-header .block-page-title-block,
.tour-content-header .page-title,
.tour-content-header .breadcrumb__link,
.tour-content-header .breadcrumb__item + .breadcrumb__item::before {
  color: #222330;
  opacity: 0.9;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .tour-page .section-hero .row,
  .tour-page .section-content {
    display: block;
  }
  .tour-page .section-hero {
    padding: 20px;
  }
  .tour-page .section-content .sidenav {
    width: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .tour-page .section-hero .text-section {
    width: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .tour-page .section-content .sidenav {
    width: 100%;
  }
}
