/* Base styles - branding */
html,
body {
  font-family: "Proxima Nova", "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-size: 38px;
  line-height: 46px;
}

h2 {
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  line-height: 28px;
}

h4 {
  font-size: 20px;
  line-height: 24px;
}

h5 {
  font-size: 16px;
  line-height: 20px;
}

h6 {
  font-size: 14px;
  line-height: 20px;
}

body p {
  margin: 3px 0 10px;
  font-size: 16px;
  line-height: 24px;
}

ol,
ul {
  padding: 0 0 0 10px;
}

ol li,
ul li {
  font-size: 14px;
  line-height: 20px;
}

blockquote {
  font-size: 18px;
  line-height: 28px;
}

p.medium-paragraph {
  font-size: 14px;
  line-height: 20px;
}

p.small-paragraph,
p.meta-text {
  font-size: 12px;
  line-height: 18px;
}

ul.list-with-divider li {
  border-top: 1px solid #d7dde2;
}

ul.list-with-divider li.last-child {
  border-bottom: 1px solid #d7dde2;
}

ul.list-with-striped li:nth-child(odd) {
  background: #d7dde2;
}

ul.dropbutton {
  padding-left: 0;
}

/* Media library */
.media-library-item__preview {
  padding-bottom: 50px;
}

.media-library-item__name {
  padding: 10px;
}

/* Icons for Color Module */
.admin-item__link {
  margin-left: -2em;
  padding-left: 2em;
}

.admin-item__link::before {
  background-image: unset;
  color: #168ec4;
  font-family: "Material Icons";
  font-size: 30px;
  line-height: 26px;
  content: 'keyboard_arrow_right';
  -webkit-font-smoothing: antialiased;
}

.action-link--icon-show::before {
  top: 0.26rem !important;
  background-image: unset;
  color: #545560;
  font-family: "Material Icons";
  font-size: 16px;
  content: 'visibility';
  -webkit-font-smoothing: antialiased;
}

.action-link--icon-show:hover::before {
  color: #168ec4;
  font-size: 16px;
  font-family: "Material Icons";
  content: 'visibility';
  -webkit-font-smoothing: antialiased;
  background-image: unset;
  top: 0.26rem !important;
}

.action-link--icon-hide::before {
  color: #545560;
  font-size: 16px;
  font-family: "Material Icons";
  content: 'visibility_off';
  -webkit-font-smoothing: antialiased;
  background-image: unset;
  top: 0.26rem !important;
}

.action-link--icon-hide:hover::before {
  color: #168ec4;
  font-size: 16px;
  font-family: "Material Icons";
  content: 'visibility_off';
  -webkit-font-smoothing: antialiased;
  background-image: unset;
  top: 0.26rem !important;
}

@media only screen and (max-width: 768px) {
  .grid-cell.logo {
    display: none;
  }
}
