# Ignore any Features files used during development.
*.features.yml

.DS_Store
docroot/
vendor/
node_modules/
bower_components/
.sass-cache/
**/css
**/dist

# Ignore PHPStorm .idea folder
.idea/

# Ignore Composer.lock
composer.lock

# Ignore npm package-lock.json
package-lock.json
