[submodule "modules/acquia_cms_article"]
	path = modules/acquia_cms_article
	url = https://git.drupalcode.org/project/acquia_cms_article.git
[submodule "modules/acquia_cms_audio"]
	path = modules/acquia_cms_audio
	url = https://git.drupalcode.org/project/acquia_cms_audio.git
[submodule "modules/acquia_cms_common"]
	path = modules/acquia_cms_common
	url = https://git.drupalcode.org/project/acquia_cms_common.git
[submodule "modules/acquia_cms_component"]
	path = modules/acquia_cms_component
	url = https://git.drupalcode.org/project/acquia_cms_component.git
[submodule "modules/acquia_cms_document"]
	path = modules/acquia_cms_document
	url = https://git.drupalcode.org/project/acquia_cms_document.git
[submodule "modules/acquia_cms_image"]
	path = modules/acquia_cms_image
	url = https://git.drupalcode.org/project/acquia_cms_image.git
[submodule "modules/acquia_cms_page"]
	path = modules/acquia_cms_page
	url = https://git.drupalcode.org/project/acquia_cms_page.git
[submodule "modules/acquia_cms_person"]
	path = modules/acquia_cms_person
	url = https://git.drupalcode.org/project/acquia_cms_person.git
[submodule "modules/acquia_cms_place"]
	path = modules/acquia_cms_place
	url = https://git.drupalcode.org/project/acquia_cms_place.git
[submodule "modules/acquia_cms_search"]
	path = modules/acquia_cms_search
	url = https://git.drupalcode.org/project/acquia_cms_search.git
[submodule "modules/acquia_cms_site_studio"]
	path = modules/acquia_cms_site_studio
	url = https://git.drupalcode.org/project/acquia_cms_site_studio.git
[submodule "modules/acquia_cms_starter"]
	path = modules/acquia_cms_starter
	url = https://git.drupalcode.org/project/acquia_cms_starter.git
[submodule "modules/acquia_cms_toolbar"]
	path = modules/acquia_cms_toolbar
	url = https://git.drupalcode.org/project/acquia_cms_toolbar.git
[submodule "modules/acquia_cms_tour"]
	path = modules/acquia_cms_tour
	url = https://git.drupalcode.org/project/acquia_cms_tour.git
[submodule "modules/acquia_cms_video"]
	path = modules/acquia_cms_video
	url = https://git.drupalcode.org/project/acquia_cms_video.git
[submodule "modules/acquia_cms_event"]
	path = modules/acquia_cms_event
	url = https://git.drupalcode.org/project/acquia_cms_event.git
[submodule "modules/acquia_cms_headless"]
	path = modules/acquia_cms_headless
	url = https://git.drupalcode.org/project/acquia_cms_headless.git
