<?xml version="1.0" encoding="UTF-8"?>

<!-- https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-Ruleset -->
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../vendor/squizlabs/php_codesniffer/phpcs.xsd"
>

  <description>PHP CodeSniffer configuration ORCA uses for packages analysis.</description>

  <!-- Set extensions to scan. -->
  <!-- @see https://git.drupalcode.org/project/coder/-/tree/8.3.7#store-settings-in-a-phpcsxmldist-file -->
  <arg name="extensions" value="php,module,inc,install,test,profile,theme,css,info,txt,md,yml"/>

  <arg name="colors"/>
  <arg name="parallel" value="10"/>

  <file>.</file>

  <exclude-pattern>.idea/</exclude-pattern>
  <exclude-pattern>docroot/</exclude-pattern>
  <exclude-pattern>vendor/</exclude-pattern>
  <exclude-pattern>var/</exclude-pattern>

  <!-- This value should be the same as the value set in .travis.yml -->
  <rule ref="AcquiaDrupalStrict"/>

  <rule ref="Drupal.InfoFiles.AutoAddedKeys.Version">
      <!-- Exclude .info.yml file from the auto add version key rule. -->
      <exclude-pattern>acquia_cms\.info</exclude-pattern>
  </rule>

</ruleset>
