parameters:
    paths:
      - modules
      - tests/src
    level: 0
    fileExtensions:
        - php
        - module
        - inc
        - install
        - theme
        - profile
    reportUnmatchedIgnoredErrors: false
    bootstrapFiles:
      - phpstan/class_aliases.php
    ignoreErrors:
        # new static() is a best practice in Drupal, so we cannot fix that.
        - "#^Unsafe usage of new static#"
        # @todo: Revert below and fix PHPStan errors.
        - "#^.Drupal calls.*#"
        - "#^Call to deprecated method getName.*#"
