body,
.claro-details {
  color: #222330;
}

.content-header {
  background-color: #0e68a7;
}

@media only screen and (max-width: 767px) {
  .toolbar-vertical .content-header .is-horizontal.tabs-wrapper ul.tabs--primary .tabs__tab.is-active::before {
    border-left-color: #168ec4;
  }
  .toolbar-vertical .content-header .is-horizontal.tabs-wrapper ul.tabs--primary .tabs__tab.is-active a.is-active {
    color: #168ec4;
  }
  .toolbar-vertical .content-header .is-horizontal.tabs-wrapper ul.tabs--primary .tabs__tab.is-active a.is-active + button path {
    fill: #168ec4;
  }
  .toolbar-vertical .content-header .is-horizontal.tabs-wrapper ul.tabs--primary .tabs__tab .tabs__link {
    color: #545560;
  }
}

.content-header .is-horizontal .tabs__link {
  color: #cccccc;
}

.content-header .is-horizontal .tabs__link.is-active::before {
  border-color: #cccccc;
}

.content-header .is-horizontal .tabs__link:hover {
  color: #168ec4;
}

.region-pre-content .tabs--secondary .tabs__tab.is-active::before {
  border-left: 3px solid #168ec4;
}

a,
.link,
.tabs__link.is-active,
.is-horizontal .tabs__link:hover,
.claro-details__summary:hover,
.claro-details[open] > .claro-details__summary:focus,
.sortable-heading.is-active > a,
.action-link:hover,
[open] .claro-details__summary--accordion,
[open] .claro-details__summary--accordion-item,
[open] .claro-details__summary--vertical-tabs-item,
.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link {
  color: #168ec4;
}

.ui-autocomplete .ui-menu-item-wrapper.ui-state-active {
  background: #168ec4;
}

a:hover,
.link:hover {
  color: #096b92;
}

.block-page-title-block,
.page-title,
.breadcrumb__item,
.breadcrumb__link {
  color: #ffffff;
}

.breadcrumb__link:hover,
.breadcrumb__link:focus {
  color: #cccccc;
}

.breadcrumb__item + .breadcrumb__item::before {
  vertical-align: middle;
  color: #ffffff;
  font-family: "Material Icons";
  font-size: 12px;
  font-weight: 100;
  content: 'keyboard_arrow_right';
  -webkit-font-smoothing: antialiased;
}

.sortable-heading.is-active > a::before {
  border-color: #168ec4;
}

.is-horizontal .tabs__link:hover,
.panel__title,
.system-modules tr.even,
.system-modules tr.odd,
.locale-translation-status-form tr.even,
.locale-translation-status-form tr.odd,
.views-ui-display-tab-bucket .views-display-setting:nth-of-type(even),
.views-query-info table tr,
.ui-dialog .ui-widget-content.ui-dialog-buttonpane,
.views-ui-dialog .views-override:not(:empty) {
  background: #f3f4f9;
}

th,
.views-display-top,
.form-edit .form-actions,
.view-preview-form__title {
  background: #e8eaf3;
}

.is-horizontal .tabs__link.is-active::before {
  border-color: #168ec4;
}

.page-wrapper *:focus,
.ui-dialog *:focus {
  -webkit-box-shadow: 0 0 0 2px #ffffff, 0 0 0 5px #26a769;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 5px #26a769;
  outline: 2px dotted transparent;
}

.is-horizontal .tabs--primary .tabs__link:focus,
.is-horizontal .tabs__link:focus,
.ui-dialog *:focus {
  -webkit-box-shadow: 0 0 0 2px #ffffff, 0 0 0 5px #26a769;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 5px #26a769;
}

.vertical-tabs__menu-item.is-selected a {
  color: #096b92;
}

.vertical-tabs__menu-item.is-selected:focus {
  color: #096b92;
}

.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link:hover {
  background: #f3f4f9;
  color: #096b92;
}

.vertical-tabs__menu-item.is-selected a:hover,
.vertical-tabs__menu-item.is-selected a:focus {
  color: #096b92;
}

.dropbutton__item:first-of-type > *:focus:hover,
.dropbutton__item:first-of-type > .button:focus:hover {
  -webkit-box-shadow: 0 0 0 2px #ffffff, 0 0 0 5px #26a769;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 5px #26a769;
}

.button--primary {
  background-color: #168ec4;
}

.button--primary:hover {
  background-color: #096b92;
}

.form-boolean--type-checkbox:checked {
  background-color: #168ec4;
  border-color: #168ec4;
}

.form-boolean--type-checkbox:checked:hover {
  background-color: #222330;
  border-color: #222330;
}

.form-boolean--type-checkbox[disabled]:checked {
  background-color: #f2f2f3;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.7949219,7.095703 6.1816406,9.601563 12.205078,3.2753906 13.689453,4.8359375 6.1816406,12.724609 2.3105469,8.65625 Z' fill='%2382828c'/%3E%3C/svg%3E");
  border-color: #bababf;
}

.form-boolean--type-radio:checked {
  box-shadow: inset 0 0 0 3px #ffffff;
  background: #168ec4;
  border: 2px solid #168ec4;
  -webkit-box-shadow: inset 0 0 0 3px #ffffff;
}

.form-boolean--type-radio:checked:hover {
  box-shadow: inset 0 0 0 3px #ffffff;
  background: #222330;
  border: 2px solid #222330;
  -webkit-box-shadow: inset 0 0 0 3px #ffffff;
}

.form-boolean--type-radio:checked:focus,
.form-boolean--type-radio:checked:hover:focus {
  box-shadow: inset 0 0 0 4px #ffffff, 0 0 0 5px #168ec488;
  background: #168ec4;
  border: 3px #168ec4;
  -webkit-box-shadow: inset 0 0 0 4px #ffffff, 0 0 0 5px #168ec488;
}

.claro-details__summary::before {
  background: #545560;
  border-color: #222330;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M5.2109375,1.3144531 3.7890625,2.7226562 9.0917969,8.0761719 3.7890625,13.429688 5.2109375,14.837891 11.908203,8.0761719Z' fill='%230036B1'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M5.2109375,1.3144531 3.7890625,2.7226562 9.0917969,8.0761719 3.7890625,13.429688 5.2109375,14.837891 11.908203,8.0761719Z' fill='%230036B1'/%3E%3C/svg%3E");
}

.claro-details__summary:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.claro-details__summary::after {
  -webkit-box-shadow: inset 0 0 0 3px #26a769;
  box-shadow: inset 0 0 0 3px #26a769;
}

.claro-details__summary:hover::before,
.claro-details__summary:hover:focus::before,
.claro-details[open] > .claro-details__summary:focus::before,
.claro-details[open] > .claro-details__summary--accordion::before,
.claro-details[open] > .claro-details__summary--accordion-item::before {
  background: #168ec4;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M5.2109375,1.3144531 3.7890625,2.7226562 9.0917969,8.0761719 3.7890625,13.429688 5.2109375,14.837891 11.908203,8.0761719Z' fill='%230036B1'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M5.2109375,1.3144531 3.7890625,2.7226562 9.0917969,8.0761719 3.7890625,13.429688 5.2109375,14.837891 11.908203,8.0761719Z' fill='%230036B1'/%3E%3C/svg%3E");
}

.claro-details__summary:hover,
tr:hover,
tr:focus {
  background-color: #f3f4f9;
}

.admin-item__link::before {
  color: #168ec4;
}

.tablesort--asc,
[dir="rtl"] .tablesort--asc {
  background: #168ec4;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='16' viewBox='0 0 10 12'%3E%3Cpath d='M 5 0.43945312 L 0.71875 4.71875 L 1.78125 5.78125 L 4.25 3.3125 L 4.25 11.25 L 5.75 11.25 L 5.75 3.3125 L 8.21875 5.78125 L 9.28125 4.71875 L 5 0.43945312 z' fill='%23004adc'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='16' viewBox='0 0 10 12'%3E%3Cpath d='M 5 0.43945312 L 0.71875 4.71875 L 1.78125 5.78125 L 4.25 3.3125 L 4.25 11.25 L 5.75 11.25 L 5.75 3.3125 L 8.21875 5.78125 L 9.28125 4.71875 L 5 0.43945312 z' fill='%23004adc'/%3E%3C/svg%3E");
}

.cke.cke_chrome.cke_focus,
.cke.cke_focus .cke_contents,
.cke.cke_focus .cke_top,
.cke.cke_focus .cke_bottom,
.error .cke.cke_chrome.cke_focus,
.error .cke.cke_focus .cke_contents,
.error .cke.cke_focus .cke_top,
.error .cke.cke_focus .cke_bottom {
  border-color: #168ec4 !important;
}

.form-element:focus {
  box-shadow: inset 0 0 0 0.0625rem #168ec4;
  border-color: #168ec4;
  outline: none;
  -webkit-box-shadow: inset 0 0 0 0.0625rem #168ec4;
}

.form-element--type-select:focus {
  padding-right: 1.9375rem;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3E%3Cpath fill='none' stroke-width='1.5' d='M1 1L7 7L13 1' stroke='%23545560'/%3E%3C/svg%3E%0A");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 2.75rem 0.5625rem;
}

.action-link:hover {
  color: #168ec4;
}

.action-link--icon-show:hover::before,
.action-link--icon-hide:hover::before {
  color: #168ec4;
}

.action-link--danger:hover {
  color: #d72222;
}

[open] > .claro-details__summary--accordion:not(:focus):not(:active)::after,
[open] > .claro-details__summary--accordion-item:not(:focus):not(:active)::after,
.collapse-processed[open] > .claro-details__summary--accordion .details-title:not(:focus)::after,
.collapse-processed[open] > .claro-details__summary--accordion-item .details-title:not(:focus)::after,
[open] > .claro-details__summary--vertical-tabs-item:not(:focus):not(:active)::after,
.collapse-processed[open] > .claro-details__summary--vertical-tabs-item .details-title:not(:focus)::after,
.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link::before {
  border-color: #168ec4;
}

.media-library-item__attributes,
.media-library-item__click-to-select-trigger {
  background: #168ec4;
}

.media-library-item__click-to-select-trigger img {
  background: #ffffff;
}

.media-library-item__attributes,
.media-library-item__attributes a,
.media-library-widget .media-library-item__name a,
.media-library-view--widget .media-library-item__name a,
.media-library-add-form__selected-media .media-library-item__name a {
  color: #ffffff;
}

.vertical-tabs__menu-link:hover {
  color: #096b92;
}

.vertical-tabs__menu-link:hover::before {
  background: #f3f4f9;
}

.pager__link.is-active,
.pager__item--current {
  background-color: #168ec4;
}

.color-parity-30,
.color-parity-75,
.color-parity-above-75 {
  text-align: center;
}

.color-parity-30 span {
  background: rgba(215, 34, 34, 0.3);
  padding: 5px;
  border-radius: 4px;
}

.color-parity-75 span {
  background: rgba(255, 210, 63, 0.3);
  padding: 5px;
  border-radius: 4px;
}

.color-parity-above-75 span {
  background: rgba(6, 167, 125, 0.3);
  padding: 5px;
  border-radius: 4px;
}
