.banner-title-img {
  display: flex;
  align-items: center;
}
.banner-title-img .page-title {
  color: #168ec4;
}
.page-title img {
  height: 36px;
  margin-right: 10px;
}
.powered-by {
  display: block;
  margin-bottom: 24px;
  margin-left: 53px;
}
.site-version {
  margin-left: 10px;
}
