# NOTE: Rename this file to replace CUSTOM_PROFILE with your profile name
# and remove .example from the file name.
name: Custom Profile Name
type: profile
description: 'Description of your custom profile.'
core_version_requirement: '^9'

# Optional: Declare your installation profile as a distribution
# This will make the installer auto-select this installation profile.
# The distribution_name property is used in the installer and other places as
# a label for the software being installed.
distribution:
  name: Distribution Name

# Your custom list of modules. You may remove Acquia CMS component modules and
# add or remove other modules here as necessary for your custom profile.
install:
  - acquia_cms_common
  - acquia_cms_search
  - acquia_cms_article
  - acquia_cms_image
  - acquia_cms_document
  - acquia_cms_person
  - acquia_cms_place
  - acquia_cms_toolbar
  - acquia_cms_tour
  - acquia_cms_video
  - acquia_purge
  - address
  - admin_toolbar_tools
  - captcha
  - config_ignore
  - collapsiblock
  - config
  - config_translation
  - content_translation
  - datetime
  - datetime_range
  - default_content
  - diff
  - entity_clone
  - facets_pretty_paths
  - field_ui
  - focal_point
  - google_analytics
  - google_tag
  - history
  - honeypot
  - menu_ui
  - metatag_open_graph
  - metatag_twitter_cards
  - moderation_dashboard
  - moderation_sidebar
  - options
  - page_cache
  - password_policy_character_types
  - password_policy_length
  - password_policy_username
  - pathauto
  - purge_processor_cron
  - purge_processor_lateruntime
  - purge_queuer_coretags
  - purge_ui
  - recaptcha
  - redirect
  - responsive_preview
  - scheduler_content_moderation_integration
  - schema_article
  - schema_person
  - schema_place
  - search_api_autocomplete
  - search_api_db
  - seckit
  - simple_sitemap
  - social_media_links
  - taxonomy
  - telephone
  - update
  - username_enumeration_prevention
  - views_ui
  - workbench_email

# List any themes that should be installed as part of the profile installation.
# Note that this will not set any theme as the default theme.
themes:
  - olivero
  - claro
