.acquia-cms .imce-page a {
  color: #1078c2;
}

.acquia-cms .imce-page a:hover,
.acquia-cms .imce-page a:focus {
  color: #1a89c9;
}

.acquia-cms #imce-fm {
  background: #ffffff;
  border: 1px solid #1078c2;
}

.acquia-cms #imce-toolbar {
  height: 40px;
  padding-top: 5px;
  box-shadow: none;
  background: #1078c2;
  border: 1px solid #1078c2;
  color: #ffffff;
  font-family: "Proxima Nova", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.acquia-cms #imce-toolbar .imce-tbb-title {
  margin-left: 5px;
  text-shadow: none;
}

.acquia-cms #imce-preview,
.acquia-cms #imce-tree,
.acquia-cms #imce-content {
  border: 1px solid #1078c2;
}

.acquia-cms .imce-preview-info > * {
  background: #096b92;
  color: #ffffff;
}

.acquia-cms #imce-tree:focus,
.acquia-cms #imce-content:focus {
  border-color: #70c3e9;
}

.acquia-cms .imce-layer input,
.acquia-cms .imce-layer textarea,
.acquia-cms .imce-layer select,
.acquia-cms .imce-layer button {
  padding: 5px 2px;
}

.acquia-cms .imce-layer input[type="submit"],
.acquia-cms .imce-layer input[type="button"],
.acquia-cms .imce-layer button {
  padding: 5px 10px;
  background-color: #168ec4;
  border: 1px solid #096b92;
  color: #ffffff;
}

.acquia-cms .imce-layer input[type="submit"]:hover,
.acquia-cms .imce-layer input[type="button"]:hover,
.acquia-cms .imce-layer button:hover {
  background-color: #096b92;
  color: #ffffff;
}

.acquia-cms .imce-layer input[type="submit"]:active,
.acquia-cms .imce-layer input[type="button"]:active,
.acquia-cms .imce-layer button:active {
  background-color: #168ec4;
  color: #ffffff;
}

.acquia-cms .imce-branch-toggle:before {
  border: 1px solid #1078c2;
}

/* Branch icon */
.acquia-cms .imce-branch-name:before {
  margin: 0 3px 0 0;
  color: #1078c2;
  content: "\e609";
}

.acquia-cms .active > .imce-branch-name:before {
  color: #1078c2;
  content: "\e60a";
}

.acquia-cms .imce-item.selected {
  background-color: #70c3e9;
}

.acquia-cms .folder > .imce-item-icon:before {
  color: #1078c2;
  content: "\e609";
}

.acquia-cms .imce-content-header .imce-item {
  box-shadow: 1px 1px 0 #1078c2 inset;
  background: #1078c2;
  border-bottom-color: #1078c2;
  color: #ffffff;
}

.acquia-cms .imce-content-header .sorted {
  color: #ffffff;
}

.acquia-cms .imce-content-status > * {
  background: #096b92;
  border: 1px solid #1078c2;
  color: #ffffff;
}

.acquia-cms .imce-tbb-popup {
  box-shadow: 0 1px 5px #1078c2;
  border: 2px solid #096b92;
}

.acquia-cms .imce-tbb:hover {
  background: transparent;
  cursor: pointer;
  font-weight: bold;
}

.acquia-cms .imce-tbb:active,
.acquia-cms .imce-tbb.active {
  background-color: #096b92;
}

.acquia-cms .imce-uq-button input {
  font: 50em "Proxima Nova";
}

.acquia-cms .expanded > .imce-branch-toggle:before,
.acquia-cms .imce-branch-toggle:before {
  color: #168ec4;
}
