.acquia-cms .imce-page a {
  color: #1078c2;
}

.acquia-cms .imce-page a:hover,
.acquia-cms .imce-page a:focus {
  color: #1a89c9;
}

.acquia-cms #imce-fm {
  border: 1px solid #1078c2;
  background: #fff;
}

.acquia-cms #imce-toolbar {
  height: 40px;
  padding-top: 5px;
  color: #fff;
  border: 1px solid #1078c2;
  background: #1078c2;
  box-shadow: none;
  font-family: "Proxima Nova", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.acquia-cms #imce-toolbar .imce-tbb-title {
  margin-left: 5px;
  text-shadow: none;
}

.acquia-cms #imce-preview,
.acquia-cms #imce-tree,
.acquia-cms #imce-content {
  border: 1px solid #1078c2;
}

.acquia-cms .imce-preview-info > * {
  color: #fff;
  background: #096b92;
}

.acquia-cms #imce-tree:focus,
.acquia-cms #imce-content:focus {
  border-color: #70c3e9;
}

.acquia-cms .imce-layer input,
.acquia-cms .imce-layer textarea,
.acquia-cms .imce-layer select,
.acquia-cms .imce-layer button {
  padding: 5px 2px;
}

.acquia-cms .imce-layer input[type="submit"],
.acquia-cms .imce-layer input[type="button"],
.acquia-cms .imce-layer button {
  padding: 5px 10px;
  color: #fff;
  border: 1px solid #096b92;
  background-color: #168ec4;
}

.acquia-cms .imce-layer input[type="submit"]:hover,
.acquia-cms .imce-layer input[type="button"]:hover,
.acquia-cms .imce-layer button:hover {
  color: #fff;
  background-color: #096b92;
}

.acquia-cms .imce-layer input[type="submit"]:active,
.acquia-cms .imce-layer input[type="button"]:active,
.acquia-cms .imce-layer button:active {
  color: #fff;
  background-color: #168ec4;
}

.acquia-cms .imce-branch-toggle::before {
  border: 1px solid #1078c2;
}

/* Branch icon */
.acquia-cms .imce-branch-name::before {
  margin: 0 3px 0 0;
  content: "\e609";
  color: #1078c2;
}

.acquia-cms .active > .imce-branch-name::before {
  content: "\e60a";
  color: #1078c2;
}

.acquia-cms .imce-item.selected {
  background-color: #70c3e9;
}

.acquia-cms .folder > .imce-item-icon::before {
  content: "\e609";
  color: #1078c2;
}

.acquia-cms .imce-content-header .imce-item {
  color: #fff;
  border-bottom-color: #1078c2;
  background: #1078c2;
  box-shadow: 1px 1px 0 #1078c2 inset;
}

.acquia-cms .imce-content-header .sorted {
  color: #fff;
}

.acquia-cms .imce-content-status > * {
  color: #fff;
  border: 1px solid #1078c2;
  background: #096b92;
}

.acquia-cms .imce-tbb-popup {
  border: 2px solid #096b92;
  box-shadow: 0 1px 5px #1078c2;
}

.acquia-cms .imce-tbb:hover {
  cursor: pointer;
  background: transparent;
  font-weight: bold;
}

.acquia-cms .imce-tbb:active,
.acquia-cms .imce-tbb.active {
  background-color: #096b92;
}

.acquia-cms .imce-uq-button input {
  font-size: 50em;
}

.acquia-cms .expanded > .imce-branch-toggle::before,
.acquia-cms .imce-branch-toggle::before {
  color: #168ec4;
}
