.acquia-cms-toolbar {
  margin-top: 12px;
}

.acquia-cms-toolbar .toolbar {
  -webkit-box-shadow: -1px 0 3px 1px rgba(0, 0, 0, 0.3333);
  box-shadow: -1px 0 3px 1px rgba(0, 0, 0, 0.3333);
}

.acquia-cms-toolbar.acquia-cms-environment-local .toolbar .toolbar-bar:before,
.acquia-cms-toolbar.acquia-cms-environment-ide .toolbar .toolbar-bar:before {
  background-color: #1078c2;
}

.acquia-cms-toolbar.acquia-cms-environment-dev .toolbar .toolbar-bar:before {
  background-color: #498414;
}

.acquia-cms-toolbar.acquia-cms-environment-stage .toolbar .toolbar-bar:before {
  background-color: #feb32b;
}

.acquia-cms-toolbar.acquia-cms-environment-prod .toolbar .toolbar-bar:before {
  background-color: #cd3a3d;
}
