.acquia-cms-toolbar #toolbar-administration .toolbar-bar {
  top: 10px;
}

.acquia-cms-toolbar #toolbar-administration .toolbar-bar:before {
  content: '';
  width: 100%;
  position: absolute;
  height: 10px;
  left: 0;
  top: -10px;
}
.toolbar.toolbar-secondary .toolbar-bar .toolbar-tab .toolbar-icon-environment:before {
  background-color: #fff !important;
}

.toolbar .toolbar-bar .toolbar-tab .toolbar-icon-environment:before {
  background-image: url(../images/acacac/env-ffffff.svg) !important;
  max-width: 55px;
}

.acquia-cms-toolbar .toolbar-icon-environment.environment-local:hover,
.acquia-cms-toolbar .toolbar-icon-environment.environment-local,
.acquia-cms-toolbar .toolbar-icon-environment.environment-ide:hover,
.acquia-cms-toolbar .toolbar-icon-environment.environment-ide,
.acquia-cms-toolbar .toolbar-icon-environment.environment-dev:hover,
.acquia-cms-toolbar .toolbar-icon-environment.environment-dev,
.acquia-cms-toolbar .toolbar-icon-environment.environment-stage:hover,
.acquia-cms-toolbar .toolbar-icon-environment.environment-stage,
.acquia-cms-toolbar .toolbar-icon-environment.environment-prod:hover,
.acquia-cms-toolbar .toolbar-icon-environment.environment-prod {
  color: #fff !important;
  margin-right: 5px !important;
}

.acquia-cms-toolbar.acquia-cms-environment-local #toolbar-administration .toolbar-bar:before,
.acquia-cms-toolbar.acquia-cms-environment-ide #toolbar-administration .toolbar-bar:before,
.acquia-cms-toolbar .toolbar-icon-environment.environment-local:hover,
.acquia-cms-toolbar .toolbar-icon-environment.environment-local,
.acquia-cms-toolbar .toolbar-icon-environment.environment-ide:hover,
.acquia-cms-toolbar .toolbar-icon-environment.environment-ide {
  background-color: #1078c2 !important;
  border-radius: 0px !important;
}

.acquia-cms-toolbar.acquia-cms-environment-dev #toolbar-administration .toolbar-bar:before,
.acquia-cms-toolbar .toolbar-icon-environment.environment-dev:hover,
.acquia-cms-toolbar .toolbar-icon-environment.environment-dev {
  background-color: #498414 !important;
  border-radius: 0px !important;
}

.acquia-cms-toolbar.acquia-cms-environment-stage #toolbar-administration .toolbar-bar:before,
.acquia-cms-toolbar .toolbar-icon-environment.environment-stage:hover,
.acquia-cms-toolbar .toolbar-icon-environment.environment-stage {
  background-color: #feb32b !important;
  border-radius: 0px !important;
}

.acquia-cms-toolbar.acquia-cms-environment-prod #toolbar-administration .toolbar-bar:before,
.acquia-cms-toolbar .toolbar-icon-environment.environment-prod:hover,
.acquia-cms-toolbar .toolbar-icon-environment.environment-prod {
  background-color: #cd3a3d !important;
  border-radius: 0px !important;
}

.toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded > a:focus {
  background-image: none !important;
}
