node.type.*.third_party.acquia_cms:
  type: mapping
  label: 'Acquia CMS settings'
  mapping:
    # See \Drupal\acquia_cms_common\Facade\WorkflowFacade::addNodeType()
    workflow_id:
      type: string
      label: 'Content Moderation workflow to which this content type should be automatically added'
    # See \Drupal\acquia_cms_common\Facade\WorkbenchEmailFacade::addTemplate()
    workbench_email_templates:
      type: sequence
      label: 'E-mail notification templates to which the content type should be automatically added'
      sequence:
        type: string
        label: 'Template ID'
    # See \Drupal\acquia_cms_common\Facade\MetatagFacade::addNodeType()
    metatag:
      type: mapping
      label: 'Metatag integration settings'
      mapping:
        tag_types:
          type: sequence
          label: 'Tag types to apply to this content type'
          sequence:
            type: string
            label: 'Tag type'

# See \Drupal\acquia_cms_common\Facade\WorkbenchEmailFacade::addTemplate()
workbench_email.workbench_email_template.third_party.acquia_cms:
  type: mapping
  label: 'Acquia CMS settings'
  mapping:
    workflow_id:
      type: string
      label: 'Workflow to which this template should be automatically added'
    workflow_transitions:
      type: sequence
      label: 'Workflow transitions for which this template should be automatically enabled'
      sequence:
        type: string
        label: 'Workflow transition ID'
