// Primary brand colors.

$acquia-blue-darker: #1078c2;
$acquia-blue-dark: #1a89c9;
$acquia-blue: #26a3dd;
$acquia-blue-light: #70c3e9;
$acquia-blue-lighter: #b8e1f4;

$acquia-navy-darker: #131942;
$acquia-navy-dark: #19204E;
$acquia-navy: #232c61;
$acquia-navy-light: #6e7497;
$acquia-navy-lighter: #b7bacb;

$acquia-orange-darker: #d14900;
$acquia-orange-dark: #f47a20;
$acquia-orange: #f47a20;
$acquia-orange-light: #f8a86c;
$acquia-orange-lighter: #fcd3b6;

// Secondary brand colors.

$acquia-teal-darker: #3ba3a5;
$acquia-teal-dark: #4eb1b3;
$acquia-teal: #66cbca;
$acquia-teal-light: #9adbdc;
$acquia-teal-lighter: #cdedee;

$acquia-pink-darker: #c40642;
$acquia-pink-dark: #d90c5b;
$acquia-pink: #e1126e;
$acquia-pink-light: #ec63a0;
$acquia-pink-lighter: #f5b1cf;

$acquia-yellow-darker: #ef9b16;
$acquia-yellow-dark: #f6ae23;
$acquia-yellow: #fec231;
$acquia-yellow-light: #ffd777;
$acquia-yellow-lighter: #ffebbb;

// Neutral colors - Light Mode.

$acquia-dark: #051e31;
$acquia-dark-gray-17: #0d3652;
$acquia-dark-gray-15: #2c5069;
$acquia-dark-gray-12: #5f7a8d;
$acquia-dark-gray-10: #8296a5;
$acquia-dark-gray-8: #a4b3be;
$acquia-dark-gray-6: #c0cad2;
$acquia-dark-gray-4: #d7dde2;
$acquia-dark-gray-2: #eef1f3;
$acquia-dark-gray-1: #f4f5f6;

// Component colors - support.

$support-violet-darker: #661078;
$support-violet-dark: #811d96;
$support-violet: #9928af;
$support-violet-light: #ce92dc;
$support-violet-darker: #f1d7f9;

// Product component colors.

$primary-alert-color: #1b7ac0;
$secondary-alert-color: #36627e;
$success-alert-color: #498414;
$danger-alert-color: #cd3a3d;
$warning-alert-color: #feb32b;
$info-alert-color: #2d7879;
$light-alert-color: #e8edf1;
$dark-alert-color: #061e30;

//Colors from demo framework.

$df-blue: #168ec4;
$df-blue-shadow: #168ec488;
$df-bright-grey: #545560;
$df-grayish-navy: #222330;
$df-bright-blue: #0e68a7;
$df-ocean-blue: #096b92;
$df-light-grey: #cccccc;
$df-dull-white: #f3f4f9;
$df-sky-white: #f2f2f3;
$df-pale-navy: #e8eaf3;
$df-bright-green: #26a769;
$df-persian-red: #d72222;
$df-manatee-grey: #8e929c;
$df-french-grey: #bababf;

// Natural colors.
$white: #ffffff;
$black: #000000;

// icon font
$icon-font-family: 'Material Icons';
