// Variables from dxp-web-ds.

$white: #ffffff;
$gray-100: #fafafb;
$gray-200: #e2e7ea;
$gray-300: #d7dde2;
$gray-400: #cbd4da;
$gray-500: #b5c1ca;
$gray-600: #a4b3be;
$gray-700: #8296a5;
$gray-800: #2c5069;
$gray-900: #0d3652;
$black: #051e31;

$gray-600-dark: #2c5069;
$gray-700-dark: #1b425c;
$gray-800-dark: #0d3652;
$gray-900-dark: #0a2c44;
$black-dark: #051e31;

$blue: #1078c2;
$indigo: #727cf5; // NOT USED
$purple: #6b5eae;
$pink: #ff679b; // NOT USED
$red: #cf3838;
$orange: #e05812; // NOT USED
$yellow: #ffb400;
$green: #478500;
$teal: #02a8b5; // NOT USED
$cyan: #297879;

$primary: $blue;
$secondary: #34617f;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: #e8edf1;
$dark: #051e31;

$spacer: 1.5rem;
$text-muted: $gray-800;

// Avatar

$avatar-title-bg: $gray-800;
$avatar-title-color: $white;

// Badge

$badge-soft-bg-level: -10;
$badge-soft-color: $black;

// Breadcrumb

$breadcrumb-active-color: $text-muted;

// Checklist

$checklist-control-checked-color: $text-muted;

// Tables

$table-head-color: $text-muted;

// Forms

$input-bg: $white;
$input-disabled-bg: $gray-200;
$input-placeholder-color: $gray-700;

// Modal
$modal-confirm-icon-margin-bottom: $spacer * 0.75;

// Nav

$nav-link-color: $text-muted;
$nav-link-hover-color: $gray-800;
$nav-link-disabled-color: $gray-600;

// Navbars

$navbar-light-color: $gray-800;

$navbar-dark-color: $gray-500;
$navbar-dark-hover-color: $white;
$navbar-dark-active-color: $white;
$navbar-dark-toggler-border-color: transparent;

$navbar-dark-bg: $gray-900-dark;
$navbar-dark-border-color: $gray-900-dark;
$navbar-dark-heading-color: $navbar-dark-color;
$navbar-dark-divider-color: $gray-800-dark;
$navbar-dark-brand-filter: none;

// Railroad

$railroad-bg: $gray-300;
$railroad-link-step: $text-muted;
$railroad-link-label: $text-muted;
$railroad-link-complete-bg: $primary;
$railroad-link-complete-color: $white;
$railroad-link-active-bg: $success;
$railroad-link-active-color: $white;

// Tooltips

$tooltip-color: $white;
$tooltip-bg: $black;

// Code
$code-font-size: $font-size-sm;
$pre-color: $white;

// Pagination

$pagination-disabled-color: $text-muted;
$pagination-disabled-bg: $gray-200;
