<div class='layout-node-form tour clearfix'>
  <div class='layout-region layout-region-node-secondary'>
    <div class-"inner">
    <ul class='menu'>
      <li><a href='#' name='welcome'>Welcome</a></li>
      <li><a href='#configuring'>Configuring Acquia CMS</a></li>
      <li><a href='#authoring'>Authoring Content</a></li>
      <li><a href='#editing'>Editing and Publishing Content</a></li>
      <li><a href='#media'>Working with Media</a></li>
      <li><a href='#users'>Managing Users</a></li>
      <li><a href='#menus'>Building Menus</a></li>
      <li><a href='#forms'>Creating Forms</a></li>
      <li><a href='#site-studio'>Working with Site Studio</a></li>
      <li><a href='#troubleshooting'>Troubleshooting</a></li>
      <li><a href='#support'>Getting Support</a></li>
    </ul>
  </div>
</div>

<div class='layout-region layout-region-node-main'>
  {% set module_path = _self|split('/templates') %}
  <img style="width:100%;" src="/{{ module_path[0] }}/assets/images/highway-lights-blurred.jpg"/>

  <h1>Welcome to Acquia CMS</h1>

  <p>Acquia CMS is an opinionated implementation of Drupal that enables Acquia
  customers to build beautiful websites without writing code.</p>

  <p>It provides an easier way to:</p>

  <p>
  <ul>
    <li>Build Drupal sites</li>
    <li>Manage their look & feel</li>
    <li>Create & manage content</li>
    <li>Integrate easily with products in the Acquia platform</li>
  </ul>
  </p>

  <p>Acquia CMS comes bundled with a demonstration website which will provide an
   ‘out-of-the-box’ experience which will demonstrate the power of Drupal and
   the Acquia DXP.</p>

  <h4>What will this tour guide me through?</h4>

  <p>This tour will guide you through key concepts of ACMS which will help your
  journey building with Drupal on the Acquia platform. It will also link you to
  more in-depth documentation and training materials within
  <a href="https://training.acquia.com/">Acquia Academy</a>, our learning
  platform.</p>

  <hr/>

  <h2><a name="configuring">Configuring Acquia CMS</a></h2>

  <p>To help you through some of the basic configuration,
  <a href="/admin/tour/dashboard">ACMS provides you with a simplified dashboard
  page.</a> Note that only site administrators can modify ACMS  configuration.
  The dashboard will guide you through:</p>

  <p>
    <ul>
      <li>Configuring Site Studio, our low-code theme building tool.</li>
      <li>Enabling Acquia Telemetry - this is an product analytics tool we use to determine what features our customers use and where they might be struggling. We do not collect any personally identifying information with this tool, and participation is not required.</li>
      <li>Configuring Google APIs - these forms collect keys for services such as Google Tag Manager, Maps, and more.</li>
      <li>Configuring reCAPTCHA - a system for protecting forms from spam submissions.</li>
    </ul>
  </p>

  <p>ACMS organizes its features into individual components called modules. The configuration dashboard is divided into two sections: enabled modules and disabled modules. Not all modules in ACMS are required by default, and some optional modules are left disabled on install. A checklist is provided to help you keep track of the tasks needed to complete configuration.</p>

  <p>For the enabled modules list you can:</p>

  <p>
    <ul>
      <li>Check the box if the required configuration is complete</li>
      <li>Uncheck if there’s still work to do - this is the default state</li>
      <li>Follow the links to complete the configuration options for that module</li>
    </ul>
  </p>

  <p>For the disabled modules, this screen will list the modules that are disabled. If you wish to enable any of these modules, please visit the <a href="/admin/modules">module administration page.</a></p>

  <p><b>Please note:</b> the checkboxes provided here are solely for your self tracking purpose. Checking/Unchecking the checkbox doesn’t enable module.</p>

  <hr />

  <h2><a name="authoring">Authoring Content</a></h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>

  <p>Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem.</p>

  <p>Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante.</p>

  <p>Sed lectus. Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam.</p>

  <p>Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue.</p>

  <a href="#welcome">Back to Top</a>

  <hr />

  <h2><a name="editing">Editing and Publishing Content</a></h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>

  <p>Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem.</p>

  <p>Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante.</p>

  <p>Sed lectus. Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam.</p>

  <p>Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue.</p>

  <a href="#welcome">Back to Top</a>

  <hr />

  <h2><a name="media">Working with Media</a></h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>

  <p>Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem.</p>

  <p>Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante.</p>

  <p>Sed lectus. Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam.</p>

  <p>Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue.</p>

  <a href="#welcome">Back to Top</a>

  <hr />

  <h2><a name="users">Managing Users</a></h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>

  <p>Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem.</p>

  <p>Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante.</p>

  <p>Sed lectus. Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam.</p>

  <p>Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue.</p>

  <a href="#welcome">Back to Top</a>

  <hr />

  <h2><a name="menus">Building Menus</a></h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>

  <p>Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem.</p>

  <p>Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante.</p>

  <p>Sed lectus. Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam.</p>

  <p>Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue.</p>

  <a href="#welcome">Back to Top</a>

  <hr />

  <h2><a name="forms">Creating Forms</a></h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>

  <p>Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem.</p>

  <p>Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante.</p>

  <p>Sed lectus. Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam.</p>

  <p>Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue.</p>

  <a href="#welcome">Back to Top</a>

  <hr />

  <h2><a name="site-studio">Working with Site Studio</a></h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>

  <p>Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem.</p>

  <p>Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante.</p>

  <p>Sed lectus. Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam.</p>

  <p>Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue.</p>

  <a href="#welcome">Back to Top</a>

  <hr />

  <h2><a name="troubleshooting">Troubleshooting</a></h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>

  <p>Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem.</p>

  <p>Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante.</p>

  <p>Sed lectus. Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam.</p>

  <p>Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue.</p>

  <a href="#welcome">Back to Top</a>

  <hr />

  <h2><a name="support">Getting Support</a></h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>

  <p>Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem.</p>

  <p>Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante.</p>

  <p>Sed lectus. Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam.</p>

  <p>Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue.</p>

  <a href="#welcome">Back to Top</a>

</div>
</div>
