{#
/**
 * @file
 * Default theme implementation for disabled tool checklist.
 */
#}

<div class="tour-checklist disabled">
  <div class="checklist-body">
    <div class="checklist-heading">
      <div class="checklist-title">
        <div>{{ section.heading }}</div>
        <div class='form-item__description'>{{ section.description }}</div>
      </div>
    </div>

    <div class='list-items'>
      {% for key, item in section.items %}
        <div>
          <label>{{ item.name }}</label>
          <div class='form-item__description'>{{ item.description }} </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
