{#/**
* @file
* Default theme implementation for installation wizard title markup.
*/
#}
<div class="title-wrapper">
  <div class="step-title">
    {{ current_step }}. Configure {{ module_name }}
  </div>
  <div class="req-markup">Fields marked
    <span class="red-astrick">*</span> are required
  </div>
</div>
