{#/**
* @file
* Default theme implementation for installation wizard title markup.
*/
#}
<div class="title_markup">
  <div id="main-title">Acquia CMS Installation Wizard</div>
  <div class="configure-markup">
    {{ current_step }}.  Configure {{ module_name }}
    </div>
  <span class="req-markup">Fields marked
    <span id = "astrick">*</span> are required</span>
</div>
