.acquiadam-browser-breadcrumb-container {
  display: inline-flex;
  list-style-type: none;

  .button {
    &:not(:focus) {
      box-shadow: none;
    }
  }
}

.acquiadam-asset-browser {
  .form-item {
    width: 200px;
    display: inline-block;
    vertical-align: top;
  }

  .acquiadam-asset-checkbox {
    margin-top: 0px;
  }

  .form-type--boolean {
    margin-left: 0;
    .form-boolean {
      margin-left: 0px;
      left: 21px;
    }
  }
}
