// Variables from dxp-web-ds.
//
// variables-dark.scss
// Dashkit dark version
//

//
// Bootstrap Overrides ===================================
//

//
// Color system
//

$gray-600-dark: #2c5069;
$gray-700-dark: #0d3652;
$gray-800-dark: #0a2c44;
$gray-900-dark: #0a2c44;
$black-dark: #051e31;

$light: $gray-800-dark;
$lighter: $gray-900-dark;

// Body

$body-bg: $black-dark;
$body-color: $white;

// Text
$link-color: lighten($primary, 15%);
$link-hover-color: $primary;

// Components

$border-color: $gray-700-dark;

// Fonts

$text-muted: $gray-600;

// Breadcrumb

$breadcrumb-active-color: $text-muted;

// Checklist

$checklist-control-checked-color: $text-muted;

// Tables

$table-border-color: $border-color;
$table-head-bg: $black-dark;
$table-head-color: $text-muted;
$table-accent-bg: $gray-900-dark;
$table-hover-bg: $gray-900-dark;
$table-active-bg: $gray-900-dark;
$table-bg-level: 0;
$table-border-level: 0;

// Forms

$input-bg: $gray-700-dark;
$input-disabled-bg: $gray-900-dark;
$input-color: $white;
$input-border-color: $black-dark;
$input-placeholder-color: $gray-600;
$custom-control-indicator-bg: $gray-600-dark;

// Dropdowns

$dropdown-bg: $gray-800-dark;
$dropdown-border-color: $black;
$dropdown-divider-bg: $black;
$dropdown-link-color: $text-muted;
$dropdown-link-hover-color: $white;

// Nav

$nav-link-color: $text-muted;
$nav-link-hover-color: $gray-300;
$nav-link-disabled-color: $gray-700;

// Navbar

$navbar-light-color: $gray-500;

$navbar-dark-color: $gray-800;
$navbar-dark-hover-color: $black;
$navbar-dark-active-color: $black;
$navbar-dark-toggler-border-color: transparent;

$navbar-dark-bg: $white;
$navbar-dark-border-color: $white;
$navbar-dark-heading-color: $text-muted;
$navbar-dark-divider-color: $gray-300;
$navbar-dark-brand-filter: none;

$navbar-dark-input-bg: $input-bg;
$navbar-dark-input-border-color: $input-border-color;

$navbar-light-hover-color: $white;
$navbar-light-active-color: $white;
$navbar-light-input-bg: $gray-700-dark;
$navbar-light-input-border-color: $black-dark;

// Railroad

$railroad-bg: $gray-600-dark;
$railroad-link-step: $text-muted;
$railroad-link-label: $text-muted;

// Pagination

$pagination-color: $white;
$pagination-bg: $gray-800-dark;
$pagination-border-color: $gray-600-dark;

$pagination-hover-color: $white;
$pagination-hover-bg: $gray-900-dark;
$pagination-hover-border-color: $gray-700-dark;

$pagination-disabled-bg: $gray-900-dark;
$pagination-disabled-border-color: $gray-700-dark;

// Jumbotron

$jumbotron-bg: $gray-800-dark;

// Cards

$card-bg: $gray-800-dark;
$card-border-color: $border-color;

// Tooltips

$tooltip-bg: $gray-300;
$tooltip-color: $gray-900-dark;

// Popovers

$popover-bg: $gray-800-dark;
$popover-border-color: $black;

// Toasts

$toast-background-color: $gray-800-dark;
// Modals

$modal-content-bg: $gray-800-dark;
$modal-content-border-color: $black;

// Progress bars

$progress-bg: $gray-600-dark;

//
// Dashkit =====================================
//

// Auth

$auth-bg: $body-bg;

// Avatar

$avatar-title-bg: $gray-600-dark;

// Badges

$badge-soft-bg-level: 8;
$badge-soft-color: $white;

// Cards

$card-outline-color: $gray-800-dark;
$card-box-shadow: 0 0.75rem 1.5rem transparentize($black-dark, 0.5);

// Comment

$comment-body-bg: $gray-700-dark;

// Header

$header-body-border-color-dark: $border-color;

// Navbar

$navbar-light-bg: $gray-800-dark;
$navbar-light-border-color: $gray-800-dark;

// Switch

$custom-switch-indicator-bg: $gray-800-dark;
$custom-switch-indicator-active-bg: $white;

// Backgrounds

$bg-soft-level: 10;

// Pagination

$pagination-disabled-color: $text-muted;
$pagination-disabled-bg: $black-dark;
