.color-parity-30 span {
  background: rgba(215, 34, 34, 0.3);
  padding: 5px;
  border-radius: 4px;
}

.color-parity-75 span {
  background: rgba(255, 210, 63, 0.3);
  padding: 5px;
  border-radius: 4px;
}

.color-parity-above-75 span {
  background: rgba(6, 167, 125, 0.3);
  padding: 5px;
  border-radius: 4px;
}

.dialog-ok-button,
.acms-dialog-buttonset {
  text-align: right;
  overflow: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

.acms-dialog-buttonset {
  height: 80px;
  background: #f3f4f9;
  left: 0;
}

.ui-dialog-content {
  margin-bottom: 80px;
}
