/* ---------- Preview Styles ----------- */
.js .color-preview {
  float: none !important;
  clear: both;
}
.color-preview {
  overflow: hidden;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.color-preview .tabs__link.active {
  border-color: #cccccc;
  border-style: solid;
  border-width: 0 0 3px 0;
}

.color-preview .admin-item {
  position: relative;
}
.color-preview .admin-item svg {
  position: absolute;
  left: 1.25em;
  top: 1em;
}

.color-preview .button {
  color: #fff;
}
